*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/release/app-release.aab
/.idea/appInsightsSettings.xml
/app/src/test/java/com/hul0/mindflow/ExampleUnitTest.kt
/app/src/androidTest/java/com/hul0/mindflow/ExampleInstrumentedTest.kt
